* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-weight: 600;
 font-family: sans-serif;
 outline: none;
}
body {
  background-color: rgba(182, 255, 168, 0.884);
}
.container {
  background-color: rgba(255, 255, 255, 0.315);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(246, 244, 247);
  border-radius: 15px;
  min-width: 550px;
  width: 45%;
  /* width: calc(95% - 150px); */
  padding: 30px;
}
.output {
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background-color: #55d2f834;
  width: 100%;
  min-height: 250px;
  padding: 20px 0;
  overflow: hidden;
}
#blob {
  height: 300px;
  width: 300px;
  background: linear-gradient(45deg, rgb(11, 104, 245), rgb(243, 10, 193));
  box-shadow: 15px 20px 30px rgba(19, 18, 18, 0.5);
}

/* will modify later */
/*input[type="color"] {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  width: 90px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 25px;
  border: none;
}
.colours {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}*/
.dimensions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin:20px 0 40px 0;
}
/* width and height */
input[type="number"] {
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid rgb(139, 3, 110);
  border-radius: 5px;
}
input[type="number"]:focus {
  background-color: #f0f2f5;
  border-color: rgb(0, 4, 255);
  color: rgb(4, 0, 255);
}
/* range sliders */
.sliders {

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
input[type="range"] {
    appearance: none;
    width: 160px;
    outline: none;
    margin: 15px;
    height: 5px;
    background-color: rgb(3, 96, 139);
    border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(3, 96, 139);
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(82, 2, 39);
}
/* slider ends */
 
 /* source output */
input[type="text"] {
  width: 82%;
  height: 39px;
  margin-top: 50px;
  padding: 10px;
  font-size: 12px;
  border: none;
  background-color: #d917f35d;
  border-radius: 3px;
  color: #000;
}

/* copy button */
button {
  background-color: rgb(4, 141, 196);
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  margin-left: 4%;
  width: 12%;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #71ce69;
  box-shadow: -2px 2px 5px #9ace69, -2px -2px 5px #16f334;
  color: #fff;
  transform: translateY(-3px);
}